:root{
    --navColor: white;
    --bodyColor: white;
    --textColor: #242424;
}

.darkmode{
    --navColor: #242424;
    --bodyColor: rgb(33, 35, 40);
    --textColor: white;



}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,p,span,ol{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial;
    background-color: var(--bodyColor);
    transition: 0.3s;
}

/* NABVAR STARTS HEAR */
nav{
    background-color:var(--navColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:15px 0 ;
}
nav a{
    color:var(--textColor);
    margin: 0 15px;
}

nav .darkbtn{
    width: 40px;
    height: 40px;
    border: none;
    overflow: hidden;
    
}

nav .darkbtn span{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}


nav .sun{
    background-color: rgb(255, 215, 17);
    transition: 0.35s ease-in;

}

.darkmode nav .sun{
    margin-top:-100%;
}


nav .moon{
    background-color: rgb(8, 9, 25);
    color: white;
}


.darkmode nav .logo-original{
    display: block;
}

/* NABVAR ENDS HEAR */

h1{
    color: var(--textColor);
}


/* FAQ STARTS HERE */
section{
    height: 100vh;
}
.faq{
    border: 1px solid #aaa;
    margin-bottom: 20px;
}
.faqHeader{
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.faqHeader h5{
    font-weight: 600;

}
.faqBody{
    max-height: 0px;
    overflow: hidden;
    transition: o.5s ease-in;
}

.faq.faqHeader span{
    transition: 0.3s ease;
}

.faq.active .faqHeader span{
    transform: rotate(-180deg);
}


.faq.active .faqBody{
    max-height: 100vh;
    overflow: auto;

}

.faqContent{
    padding: 15px;
}



/* FAQ ENDS HERE */


.gallImage{
    width: 100%;
    max-width: 250px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.gallImage:hover{
    filter: brightness(60%);
  }

 
 .popupGallery .popupimage{
    width: 400px;

 }

.cancelBtn{
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.popupGallery .leftArrow,
.popupGallery .rightArrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
}


.popupGallery .leftArrow{
    left: 80px;
}
.popupGallery .rightArrow{
    right: 80px;
}



